# Database URL. Can be either sqlite or postresql
pastrami_database_url = sqlite://:memory:
# Whether create database at startup or not
pastrami_database_create = true
# Whether echo SQL queries (debugging only)
pastrami_database_echo = false
# Whether encrypt database content
pastrami_database_encrypted = false

# API contact name
pastrami_contact_name = Average Joe
# API contact email address
pastrami_contact_email = averagejoe@example.com
# API contact URL
pastrami_contact_url = http://0.0.0.0:8080

# Enable API docs
pastrami_docs = false
# Amount of days texts are retained
pastrami_dayspan = 90
# Maximum amount of text characters
pastrami_maxlength = 50000
