# Database URL. Can be either sqlite or postresql
pastrami_database_url = sqlite://:memory:
# Whether create database at startup or not
pastrami_database_create = true
# Whether echo SQL queries (debugging only)
pastrami_database_echo = false
# Server side secret to encrypt database records
pastrami_database_secret = "A veeeery loooooong string"
# Amount of encryption iterations
pastrami_database_iterations = 1200000

# API contact name
pastrami_contact_name = Average Joe
# API contact email address
pastrami_contact_email = averagejoe@example.com
# API contact URL
pastrami_contact_url = https://www.example.com:8080

# Enable API docs
pastrami_docs = false
# Set webapp loglevel
pastrami_loglevel = WARNING
# Amount of secods texts are retained
pastrami_expires = 7776000
# Maximum amount of text characters
pastrami_maxlength = 50000
