<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <!--
    MIT License

    Copyright (c) 2025, Marco Marzetti <marco@lamehost.it>

    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE
    -->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pastrami</title>
    <link rel="icon" type="image/svg+xml" href="static/pastrami.svg">
    <link type="text/plain" rel="author" href="humans.txt">
    <link href="static/bootstrap@5.3.7.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/flatpickr.min.css"
        integrity="sha512-MQXduO8IQnJVq1qmySpN87QQkiR1bZHtorbJBD0tzy7/0U9+YIC93QWHeGTEoojMVHWWNkoCp8V6OzVSYrX0oQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">

    <style>
        /* Reset the styling of the textarea object */
        textarea {
            resize: none;
        }

        textarea:focus {
            outline: none !important;
            box-shadow: none !important;
        }
    </style>
</head>

<body class="min-vh-100 mh-100">
    <div class="container-fluid min-vh-100 mh-100 d-flex flex-column">
        <div class="row flex-grow-1">
            <div class="col d-flex mt-2">
                <textarea class="border border-0 flex-fill h-100" id="text"
                    placeholder="[ write or paste your text, then click the button or hit ctrl+s to save ]"
                    spellcheck="false"></textarea>
            </div>
        </div>
        <nav class="navbar bg-body user-select-none">
            <div class="container-fluid">
                <small class="navbar-text" id="stats"></small>
                <form>
                    <div class="btn-group">
                        <button type="submit" class="btn btn-outline-primary" id="save" title="Click to save">
                            <u>S</u>ave
                        </button>
                        <div class="btn-group dropup">
                            <button type="button" class="btn btn-outline-primary dropdown-toggle"
                                data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu dropdown-menu-end px-2" style="min-width: 20em;">
                                <label for="expires" class="form-label">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-calendar2-event" viewBox="0 0 16 16">
                                        <path
                                            d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z" />
                                        <path
                                            d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z" />
                                        <path
                                            d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5z" />
                                    </svg>
                                    Text expire moment
                                </label>
                                <input type="text" class="form-control" placeholder="Pick date and time" id="expires">
                                <div class="form-text">Timezone is UTC</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </nav>
    </div>

    <script src="static/jquery-3.7.1.min.js"
        integrity="sha384-1H217gwSVyLSIfaLxHbE7dRb3v4mYCKbpQvzx0cegeju1MVsGrX5xXxAvs/HgeFs"
        crossorigin="anonymous"></script>
    <script src="static/bootstrap@5.3.7.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/flatpickr.min.js"
        integrity="sha512-K/oyQtMXpxI4+K0W7H25UopjM8pzq0yrVdFdG21Fh5dBe91I40pDd9A4lzNlHPHBIP2cwZuoxaUSX0GJSObvGA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        // Without decoupling the code for Jinja from JS the code beautifiers freak out
        var MAXLENGTH = {{ maxlength }};  
        var MAXEXPIRES = "{{ maxexpires }}";

        function calculateStats(text) {
            var characters = text.length;
            var lines = 0;
            var words = 0;

            if (characters) {
                words = text.trim().split(/\s+/).length;
                lines = text.split("\n").length;
            }

            return [lines, words, characters];
        }

        function updateStats(text) {
            var characters;
            var lines;
            var words;

            [lines, words, characters] = calculateStats(text);

            $("#stats").html(
                "Lines: " + lines + " - Words: " + words + " - Characters: " + characters
            );

            if (characters > MAXLENGTH) {
                $("#stats").css("color", "crimson");
                $("#save").prop("disabled", true);
            } else {
                $("#stats").css("color", "gray");
                $("#save").prop("disabled", false);
            }
        }

        function saveContent() {
            let text;
            let expires;

            text = $("#text").val();
            expires = $('#expires').get(0)._flatpickr.selectedDates[0];

            $.ajax({
                contentType: "application/json",
                data: JSON.stringify({ content: text, expires: expires }),
                dataType: "json",
                method: "POST",
                processData: false,
                url: "/"
            }).done(function (data) {
                window.location.href = data.text_id;
            }).fail(function (jqXHR) {
                $("#stats").css("color", "crimson");
                $("#info").html(
                    JSON.parse(jqXHR.responseText).detail
                );
            });
        }

        $(document).bind("keydown", function (event) {
            var characters;
            var lines;
            var text = $("#text").val();
            var words;

            if (event.keyCode === 83 && event.ctrlKey) {
                [lines, words, characters] = calculateStats(text);
                if (characters <= MAXLENGTH) {
                    saveContent();
                }
                event.preventDefault();
            } else {
                updateStats(text);
            }
        });

        $(document).bind("keyup", function () {
            var text = $("#text").val();

            updateStats(text);
        });

        $("#text").bind("paste", function (event) {
            var text = $("#text").val()

            updateStats(text);
        });

        $("#save").click(function (event) {
            event.preventDefault();
            saveContent();
        });

        $(document).ready(function () {
            $("#expires").flatpickr(
                {
                    enableTime: true,
                    dateFormat: "Y-m-d H:i",
                    defaultDate: Date.parse(MAXEXPIRES),
                    minDate: "today",
                    time_24hr: true,
                }
            );
        })
    </script>
</body>

</html>
